swiper-container {

  ion-spinner{
   margin: auto;
   width: 270px;
   height: 100px;
   color: #fff;
  }

  ion-card{
   --background: #fff;
   margin-left: 0;
    ion-card-header{
     display: inline;

     ion-item{
       display: inline;
       --background: #fff;
       --border-color: #7301b1;

       ion-icon{
         color: #7301b1;
       }

     }
      ion-card-title{
       color: #7301b1;
       font-weight: bold;
      }
    }

    p{
     color: #7301b1;
     font-size: large;
     font-weight: bold;
     font-family: Arial, Helvetica, sans-serif;
    }
  }

 swiper-slide {
  margin-left: 1rem;
 }
}
ion-item {
  --background: #7301b1;
  --border-color: #fff;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  ion-label {
    color: #fff;
    size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
}
