<ion-header>
  <ion-icon name="chevron-back-outline" routerLink="/home"></ion-icon>
  <h1>{{headerText}}</h1>
  <ion-icon name="home" routerLink="/home"></ion-icon>
</ion-header>
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-icon name="list-outline"></ion-icon>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-item (click)="redirect('location')">
      <ion-label >Novas solicitação </ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item (click)="redirect('solicitation')">
      <ion-label>Minhas solicitações </ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item (click)="redirect('location')">
      <ion-label>Pontos Turisticos </ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item (click)="logout()" style="margin-top: 10rem;">
      <ion-label>Sair </ion-label>
      <ion-icon name="power-outline"></ion-icon>
    </ion-item>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

</div>
