<app-header [headerText]="'List'"></app-header>
<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-segment value="Em andamento" [(ngModel)]="filter">
      <ion-segment-button value="Em andamento" >
        <ion-label>Em andamento</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Fechado" >
        <ion-label>Fechados</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Aberto">
        <ion-label>Aberto</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
    <div *ngFor="let item of interfaceList">
      <ion-list *ngIf="item.status === filter">
        <ion-list-header>
          <ion-label><h1>{{item.titulo}}</h1></ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>
            <p>Descrição: {{item.descricao}}</p>
            <p>Abertura: {{item.abertura}}</p>
            <p>Fechado:  {{item.fechado}}</p>
            <p>Status:  {{item.status}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
</ion-content>
