.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .list {
    ion-button {
      width: 130px;
      height: 130px;
      --background: #fff;
      --border-radius: 10px;
      margin: 10px;

      ion-icon {
        width: 50px;
        height: 50px;
        color: #e3a44c;
      }
      ion-label {
        p {
          color: #7301b1;
          font-size: 12px; /* Corrigir a propriedade size para font-size */
          font-family: Arial, Helvetica, sans-serif;
        }
      }
    }
  }
  ion-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100px;
    height: 100px;
    color: #fff;
  }
}
