<ion-content [fullscreen]="true">

    <ion-img src="./assets/icon/logo-belem.png" alt="Logo" />

    <form [formGroup]="userForm">
      <h1>Login</h1>
      <ion-input
        formControlName="email"
        placeholder="Digite seu E-mail"
        type="email"
      ></ion-input>

      <ion-input
        formControlName="password"
        placeholder="Digite sua senha"
        type="password"
      ></ion-input>

      <ion-button (click)='login()'>Entrar</ion-button>
      <ion-button disabled="true">Esqueci minha senha</ion-button>
      <ion-button (click)="redirect('register')">Novo cadastro</ion-button>
    </form>

</ion-content>
