ion-content {
  --background: #7301b1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  ion-img {
    width: 127px;
    height: 75px;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  form {
    margin: auto;
    width: 90vw;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 12px;
    gap: 2rem;

    h1 {
      color: #7301b1;
      font-family: "Roboto", sans-serif;
      font-weight: 600;
      text-align: center;
    }

    ion-input {
      color: #808080;
      border: 1px solid #808080;
      border-radius: 12px;
      font-family: "Roboto", sans-serif;
      --padding-start: 10px;
    }

    ion-button {
      --background: #e3a44c;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      --background-activated: none;
    }
  }
}
