<ion-content [fullscreen]="true">
  <div class="back">
    <img src="./assets/icon/logo-belem.png" alt="Logo">

    <div class="form">
      <h1>Login</h1>
      <ion-input [(ngModel)]="user.email" label="Digite seu E-mail" label-placement="floating" fill="outline" placeholder="E-mail@exempler.com" type="E-mail"></ion-input>
      <ion-input [(ngModel)]="user.password" label="Digite sua Senha" label-placement="floating" fill="outline" placeholder="******" type="password"></ion-input>
      <ion-button expand="block" (click)="login(user)">Entrar</ion-button>
      <ion-button expand="block">Esquecia minha senha</ion-button>
      <ion-button expand="block" routerLink="/register">Cadastre-se</ion-button>
    </div>
  </div>
</ion-content>
