<ion-content [fullscreen]="true">
  <ion-img src="./assets/icon/logo-belem.png" alt="Logo" />

  <form [formGroup]="userForm">
    <h1>Cadastro</h1>
    <ion-input
      formControlName="full_name"
      placeholder="Digite seu nome completo"
      type="email"
    ></ion-input>
    <ion-input
      formControlName="email"
      placeholder="Digite seu E-mail"
      type="email"
    ></ion-input>
    <ion-input
      formControlName="password"
      placeholder="Digite sua senha"
      type="password"
    ></ion-input>
    <ion-input
      formControlName="confirmPassword"
      placeholder="Digite confirmação de senha"
      type="password"
    ></ion-input>

    <ion-button (click)="register()">Cadastrar</ion-button>
    <ion-button (click)="redirect('login')">Entrar</ion-button>
  </form>
</ion-content>
