<ion-header>
  <ion-toolbar>
    <ion-title slot="start">Chamado</ion-title>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="close()"
        ><label>Fechar</label></ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div>
    <h1>{{ data.titulo }}</h1>
    <hr />
    <ion-label>
      <h1>Abertura:</h1>
      <p>{{ data.abertura }}</p>
    </ion-label>
    <hr />
    <ion-label>
      <h1>Status:</h1>
      <p>{{ data.status }}</p>
    </ion-label>
    <hr />
    <ion-label>
      <h1>Descrição:</h1>
      <p>{{ data.descricao }}</p>
    </ion-label>
    <hr />
    <ion-label>
      <h1>Atualizção:</h1>
      <p>{{ data.atualizacao }}</p>
    </ion-label>
    <hr />
    <ion-label>
      <h1>Observação:</h1>
      <p>{{ data.observacao }}</p>
    </ion-label>
    <hr />
    <ion-list>
      <ion-item-group color="none">
        <ion-item lines="none">
          <ion-label>
            <h1>Imagem:</h1>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <img alt="Silhouette of mountains" src="{{ data.url }}" />
        </ion-item>
      </ion-item-group>
    </ion-list>
  </div>
  <ion-item>
    <ion-button
      *ngIf="data.status === 'Aberto' || data.status === 'Em andamento'|| data.status === 'Em analise'"
      id="present-alert"
      slot="end"
      color="danger"
      >Cancelar Chamado</ion-button
    >
    <ion-alert
      trigger="present-alert"
      header="Selecione o motivo do cancelamento do chamdo"
      [buttons]="alertButtons"
      [inputs]="alertInputs"
    ></ion-alert>
  </ion-item>
</ion-content>
