<ion-menu contentId="main-content">

  <ion-header>
    <ion-toolbar>
      <ion-icon name="list-outline"></ion-icon>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-item (click)="redirect('location')">
      <ion-label >Novas solicitação </ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item (click)="redirect('solicitation')">
      <ion-label>Minhas solicitações </ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item (click)="redirect('location')">
      <ion-label>Pontos Turisticos </ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item (click)="logout()" style="margin-top: 10rem;">
      <ion-label>Sair </ion-label>
      <ion-icon name="power-outline"></ion-icon>
    </ion-item>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

</div>

<ion-content [fullscreen]="true">
  <div class="back">
    <ion-header>
      <ion-menu-toggle>
        <ion-icon name="list"></ion-icon>
      </ion-menu-toggle>

      <img src="./assets/icon/logo-belem.png" alt="Logo" />
      <ion-icon name="call"></ion-icon>
    </ion-header>

    <ion-searchbar placeholder="Buscar assunto"></ion-searchbar>

    <ion-item>
      <ion-label> Minhas solicitações </ion-label>
    </ion-item>

    <swiper-container :slides-per-view="1.25" :loop="true">
      <swiper-slide><img src="./assets/slide.png" alt="" /></swiper-slide>
      <swiper-slide><img src="./assets/slide.png" alt="" /></swiper-slide>
      <swiper-slide><img src="./assets/slide.png" alt="" /></swiper-slide>
    </swiper-container>

    <ion-item>
      <ion-label>Pontos turisticos </ion-label>
    </ion-item>

    <swiper-container :slides-per-view="1.25" :loop="true">
      <swiper-slide><img src="./assets/doca1.jpg" alt="" /></swiper-slide>
      <swiper-slide><img src="./assets/theatro.jpg" alt="" /></swiper-slide>
      <swiper-slide><img src="./assets/ver-o-peso.jpg" alt="" /></swiper-slide>
    </swiper-container>

    <ion-item>
      <ion-label>Nova solicitação </ion-label>
    </ion-item>

    <ion-list>
      <ion-button *ngFor="let item of [1, 2, 3, 4,5,6,7,8,9,10,11,12]">
        <ion-label>
          <ion-icon slot="icon-only" name="bulb"></ion-icon>
          <br />Luz queimada
        </ion-label>
      </ion-button>
    </ion-list>


  </div>
</ion-content>
