<app-header [headerText]="'Home'"></app-header>
<ion-content [fullscreen]="true">
  <div class="back">

    <ion-searchbar placeholder="Buscar assunto"></ion-searchbar>

    <ion-item>
      <ion-label> Minhas solicitações </ion-label>
    </ion-item>

    <swiper-container :slides-per-view="1.25" :loop="true">
      <swiper-slide><img src="./assets/slide.png" alt="" /></swiper-slide>
      <swiper-slide><img src="./assets/slide.png" alt="" /></swiper-slide>
      <swiper-slide><img src="./assets/slide.png" alt="" /></swiper-slide>
    </swiper-container>

    <ion-item>
      <ion-label>Pontos turisticos </ion-label>
    </ion-item>

    <swiper-container :slides-per-view="1.25" :loop="true">
      <swiper-slide><img src="./assets/doca1.jpg" alt="" /></swiper-slide>
      <swiper-slide><img src="./assets/theatro.jpg" alt="" /></swiper-slide>
      <swiper-slide><img src="./assets/ver-o-peso.jpg" alt="" /></swiper-slide>
    </swiper-container>

    <ion-item>
      <ion-label>Nova solicitação </ion-label>
    </ion-item>

    <ion-list>
      <ion-button *ngFor="let item of [1, 2, 3, 4,5,6,7,8,9,10,11,12]">
        <ion-label>
          <ion-icon slot="icon-only" name="bulb"></ion-icon>
          <br />Luz queimada
        </ion-label>
      </ion-button>
    </ion-list>


  </div>
</ion-content>
