ion-content {
  width: 100vw;
  --background: #7301b1;
  --padding-end: 5vw;
  --padding-start: 5vw;
  ion-header {
    display: flex;
    justify-content: space-between;
    ion-menu-button {
      width: 50px;
      height: 50px;
      color: #fff;
    }
    ion-icon {
      width: 50px;
      height: 50px;
      color: #fff;
      padding: 10px 20px;
    }
  }
  ion-searchbar {
    margin: auto;
    margin-top: 3rem;
    --border-radius: 10px;
    --background: #fff;
    color: black;
  }
  .sc-ion-searchbar-md-h {
    --icon-color: #e3a44c;
  }

  ion-item {
    --background: #7301b1;
    --border-color: #fff;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    ion-label {
      color: #fff;
      size: 16px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
    }
  }
}
