<app-header [headerText]="'Home'"></app-header>
<ion-content [fullscreen]="true">
  <ion-searchbar
    show-cancel-button="focus"
    (click)="redirect('new-solicitation')"
    placeholder="Buscar assunto"
  ></ion-searchbar>

  <ion-item>
    <ion-label> Minhas solicitações </ion-label>
  </ion-item>

  <swiper-container :slides-per-view="1.25">
    <ion-spinner color="light" size="large" *ngIf="isLoading"></ion-spinner>
    <ng-container *ngFor="let item of interfaceS">
      <swiper-slide
        (click)="openModalSolicitation(item)"
        *ngIf="item.status !== 'Fechado' && item.status !== 'Em andamento'"
      >
        <ion-card class="card">
          <ion-card-header>
            <ion-item>
              <ion-card-title>{{item.titulo}}</ion-card-title>
              <ion-icon
                *ngIf="item.icon"
                slot="end"
                size="large"
                name="{{item.icon}}"
              ></ion-icon>
            </ion-item>
          </ion-card-header>
          <ion-card-content *ngIf="!item.subtitulo">
            <p>Status: {{item.status}}</p>
            <p>Aberto: {{item.abertura}}</p>
          </ion-card-content>
          <ion-card-content *ngIf="item.subtitulo">
            <p>{{item.subtitulo}}</p>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
    </ng-container>
  </swiper-container>

  <ion-item>
    <ion-label>Pontos turisticos </ion-label>
  </ion-item>

  <swiper-container :slides-per-view="1.25">
    <ion-spinner color="light" size="large" *ngIf="isLoading"></ion-spinner>

    <swiper-slide
      *ngFor="let item of interfaceTurismo"
      (click)="openModalTourism(item)"
    >
      <div class="card">
        <div class="back" *ngIf="!item.url">
          <ion-card-title>{{item.text}}</ion-card-title>
        </div>
        <img *ngIf="item.url" src="{{item.url}}" alt="Foto" />

        <div class="image-title">{{item.titulo}}</div>
      </div>
    </swiper-slide>
  </swiper-container>

  <ion-item>
    <ion-label>Nova solicitação </ion-label>
  </ion-item>

  <div class="solicitation">
    <ion-spinner color="light" size="large" *ngIf="isLoading"></ion-spinner>
    <div>
      <ion-grid>
        <ion-row class="list">
          <ion-col
            sizeLg="6"
            sizeMd="6"
            sizeXs="6"
            *ngFor="let item of interfaceCard; let i = index"
            size="1"
          >
            <div>
              <ion-button (click)="ticket(item.icon, item.name)">
                <ion-label>
                  <ion-icon slot="icon-only" [name]="item.icon"></ion-icon>
                  <p>{{item.name}}</p>
                </ion-label>
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
