
ion-content {
    overflow: hidden;
    width: 100vw;
    --background: #7301b1;

    ion-header {
      display: flex;
      justify-content: space-between;
      ion-menu-button {
        width: 50px;
        height: 50px;
        color: #fff;

      }
      ion-icon {
        width: 50px;
        height: 50px;
        color: #fff;
        padding: 10px 20px;
      }
    }
    ion-searchbar {
      margin: auto;
      margin-top: 3rem;
      width: 85vw;
      --border-radius: 10px;
      --background: #fff;
      color: black;
    }
    .sc-ion-searchbar-md-h {
      --icon-color: #e3a44c;
    }

    ion-item {
      --background: #7301b1;
      --border-color: #fff;
      width: 85vw;
      margin: auto;
      margin-top: 1rem;
      ion-label {
        color: #fff;
        size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
      }
    }

    swiper-container {
      margin-top: 2rem;
      margin-left: 3rem;
      @media screen and (min-width: 1024px) {
        margin-left: 5rem;

       }
       ion-spinner{
        margin: auto;
        width: 100px;
        height: 100px;
        color: #fff;

       }
       ion-card{
        padding:  0px 15px 0px 5px;
        --background: #fff;
         ion-card-header{
          display: inline;
          ion-item{
            display: inline;
            --background: #fff;
            --border-color: #7301b1;
            ion-icon{
              color: #7301b1;
            }

          }
           ion-card-title{
            color: #7301b1;
            font-weight: bold;
           }
         }

         p{
          color: #7301b1;
          font-size: large;
          font-weight: bold;
          font-family: Arial, Helvetica, sans-serif;
         }

       }

      swiper-slide {
        margin-right: 20px;

        img {
          border-radius: 10px;
          width: 70vw;
          height: 15vh;
          @media screen and (min-width: 1024px) {
            width: 60vw;
            height: 60vh;

           }
        }
        .image-title {
          position: absolute;
          bottom: 4px;
          left: 0;
          background-color: rgba(255, 255, 255, 0.5);
          width: 70vw;
          padding: 10px;
          color: #7301b1;
          font-weight: bold;
          text-align: center;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;

          @media screen and (min-width: 1024px) {
            width: 60vw;
           }
        }
      }
    }

    ion-button {
      width: 120px;
      height: 120px;
      --background: #fff;
      --border-radius: 10px;
      margin: 10px;

      ion-icon {
        width: 50px;
        height: 50px;
        color: #e3a44c;
      }
      ion-label {
        color: #7301b1;
        size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        padding: auto;
        text-transform: none;
      }
    }

    .solicitation {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 50px;
      ion-spinner{
        margin: auto;
        width: 100px;
        height: 100px;
        color: #fff;

       }

      .list {
        ion-button {
          width: 130px;
          height: 130px;
          --background: #fff;
          --border-radius: 10px;
          margin: 10px;

          ion-icon {
            width: 50px;
            height: 50px;
            color: #e3a44c;
          }
          ion-label {
            p {
              color: #7301b1;
              font-size: 12px; /* Corrigir a propriedade size para font-size */
              font-family: Arial, Helvetica, sans-serif;
            }
          }
        }
      }
    }

}
