<ion-content [fullscreen]="true">
  <div class="back">
    <ion-header>
      <ion-icon name="chevron-back-outline" routerLink="/home"></ion-icon>
      <h1>Anexo</h1>
      <ion-icon name="home" routerLink="/home"></ion-icon>
    </ion-header>

    <div class="text">
      <ion-item >
        <ion-label>
          <p>Adicione até 04 documentos, sendo no</p>
          <p>máximo 01 vídeo até 5 segundos</p>
        </ion-label>
      </ion-item>
    </div>

    <div class="icons">
      <ion-label>
        <ion-icon name="camera"></ion-icon><br>
        Foto
      </ion-label>
      <ion-label>
        <ion-icon name="videocam"></ion-icon><br>
        Video
      </ion-label>
      <ion-input type="file"></ion-input>




    </div>
    <h1>Sem Anexo</h1>

    <div class="text">
      <ion-item>
        <ion-label>
          <p>Descreva as infomações complementares  </p>
          <p>a sua solicitação:</p>
        </ion-label>
      </ion-item>
    </div>

    <ion-textarea label="Descrição:" labelPlacement="floating" fill="outline" placeholder="Enter text"></ion-textarea>

    <div class="text">
      <ion-item>
        <ion-label>
          <p>Rod. dos Trabalhadores, 1648, Val de cans.</p>
        </ion-label>
      </ion-item>
    </div>
    <ion-toggle [checked]="true" color="warning">Manter Sigilo?</ion-toggle><br /><br />
<ion-button (click)="uploadFile(upload)" expand="full" routerLink="/anexo">Enviar<ion-icon name="chevron-forward"></ion-icon></ion-button>
  </div>
</ion-content>

